language: nodeCreate public and private SSH keysjs
nodejs:
  - 6.9.1
notifications:
  email:
    onfailure: change
    onsuccess: change
addons:
  sshknownhosts:
    - 165.22.235.117 # your droplet IP goes here
branches:
  only:
    - staging
    - master
env:
  global:
    - REMOTEAPPDIR=/mulligan-api
    - REMOTEUSER=deploy
    - REMOTEHOST=165.22.235.117 # your droplet IP goes here
beforeinstall:
  - npm install -g npm@^2
install:
  - npm install
script:
  - ssh -tt root@165.22.235.117
  - echo "Y"
  - echo "Connected to production server."
  - cd mulligan-api
  - echo "Updating application..."
  - git pull origin master
  - npm install
  - echo "Application updated."
  - echo "Launching production server..."
  - pm2 restart mulligan-api
after_success:
  - echo "Production server started successfully."
  - echo "Production environment deployed successfully!"
